/* file:		styles.css
 */
.btn-lg{border:0;padding:0;width:60%;min-height:251px;line-height:1;margin:.5em;font-size:2em;border-radius:50px;background:0}.nav navbar-nav li{width:16.666666666666668%}.panel-footer{position:absolute;bottom:0;width:95%}